.online-show-view {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: var(--muted-foreground);
    z-index: 1000;

    &__icon {
        height: 1rem;
        width: 1rem;
    }
}